<div class="topo">
  <div class="container">
    <div class="site_wrapper">
      <div id="topHeader">
        <div class="row">
          <div class="home-icon-row col-md-1 col-sm-1 col-xs-1 item_left">
            {{#link-to "index" class="btn btn-default btn-home"}}
              <i class="fa fa-home" aria-hidden="true"></i>
            {{/link-to}}
          </div>
          <div class="apresentamtam col-md-6 col-sm-6 col-xs-8 item_left">
            <div class="moduletable">
              <div class="custom">
                <p>
                  <img alt="Apresentam" src="/img/apresentam.png">
                </p>
              </div>
            </div>
          </div>
          <div class="buscaicones col-md-4 col-sm-4 col-xs-6  item_right"></div>
        </div>
      </div>
    </div>

    <div class="menu_version2">
      <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="navbar-header page-scroll">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{#link-to "index" class="navbar-brand page-scroll"}}
            <img alt="Logo das escolas criativas" src="/img/logo.png">
          {{/link-to}}
        </div>
        <div
          class="collapse navbar-collapse item_left"
          id="bs-example-navbar-collapse-1"
        >
          <div class="moduletable teunal_menu2"></div>
        </div>
      </nav>
    </div>


  </div>
</div>
