
.history-t-featuredImage {
  float: left;
  width: 300px;
  margin-right: 15px;
}

.d-col .ht-title {
  border-bottom: 0px;
  margin-bottom: 2px;
  padding-bottom: 5px;
}

.d-col .panel {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
}

.d-col .panel-body {
  padding-left: 0px;
  padding-right: 0px;
}

.featured-image-findOne {
  float: left;
  max-width: 322px;
  margin-right: 12px;
}

.ht-disciplinas,
.ht-temasTransversais,
.ht-nivel_ensino,
.ht-faixetaria,
.ht-midia {
  margin-bottom: 6px;
  color: #000;
  font-size: 14px;
}

.ht-midia .fa {
  border: 1px dashed;
  padding: 3px 5px;
  border-radius: 4px;
}

.we-tag {
  text-transform: capitalize;
}

.history-cats .ht-disciplinas,
.history-cats .ht-temasTransversais,
.history-cats .ht-nivel_ensino,
.history-cats .ht-faixetaria,
.history-cats .ht-midia {
  margin-bottom: 6px;
  color: #000;
  font-size: 18px;
}

.history-videos {
  margin-top: 15px;
}

.history-videos h4 {
  font-size: 25px;
  font-weight: bold;
}

.seccond-line select,
.seccond-line input {
  margin-right: 5px;
}


.search-button {
  color:  #fff;
  background-color: #572C76;
}

.history-featuredImage {
  margin-bottom: 10px;
}