<ol class="breadcrumb">
  <li>
    {{#link-to 'index'}}Início{{/link-to}}
  </li>
  <li>
    {{#link-to 'learning-object'}}Objetos de aprendizagem{{/link-to}}
  </li>
  <li class="active"></li>
</ol>
