<ol class="breadcrumb">
  <li>
    {{#link-to "index"}}Início{{/link-to}}
  </li>
  <li>
    {{#link-to "history"}}Práticas pedagógicas{{/link-to}}
  </li>
  <li class="active">Projeto boralá</li>
</ol>

<div class="history-findOne">
  <div class="row">
    <div class="col-md-9">
      <h1 class="history-title">Projeto Boralá</h1>
      <div class="history-metadata">17/09/2018, SE / Aracaju</div>
      <div class="history-featuredImage">
        <img
          alt=""
          src="/img/examples/h1/h1_2.jpeg"
          class="img-responsive img-thumbnail featured-image-findOne"
        >
      </div>
      <div class="history-body">
        <p>O projeto "boralá" é uma iniciativa do CAPS Liberdade, destinado a usuários com transtorno mental moderado a grave, que acontece todas as sextas feiras no turno da tarde, sob a responsabilidade da Terapeuta Ocupacional Andreza Bezerra e Educadora Física Aparecida Regina, tendo como objetivos possibilitar o convívio social mais amplo, promover atividades de lazer, recreação e reinserção social. Participam do projeto de 8 a 10 usuários, os mesmos sugerem os locais a serem visitados, como: projeto Tamar, parque de sementeira e museu de gente sergipana, etc. Esses passeios estimulam a cultura, interação social, autonomia e independência, além de ser uma atividade prazerosa. Pessoas com transtorno mental se privam do convívio social, o nosso projeto visa resgatar aos poucos o sentimento de pertencimento à sociedade e humanizar os serviços de saúde mental em Aracaju.</p>
      </div>
    </div>
    <div class="col-md-3 history-sidebar">
      <div class="history-creator">
        <h3 class="history-creator-displayName">Administrator</h3>
        <div class="user-location-data">
          <i class="fa fa-map-o" aria-hidden="true"></i> RJ / Duque de Caxias
        </div>
      </div>
      <div data-we-region="sidebar" id="region-sidebar" class="">
        <div id="region-sidebar-widgets" class="region-widgets">
          <div
            id="widget-6"
            data-record-widget-type="share-page"
            data-model-widget="6"
            class="widget widget-share-page widget-"
          >
            <div class="widget-header">
              <h3>
                <bind-html model-widget-6="title">Compartilhar</bind-html>
              </h3>
            </div>
            <div class="widget-content">
              <div class="share-block">
                <a
                  href="https://twitter.com/intent/tweet?url=https://escolascriativas.com/history/2"
                  class="s-twitter"
                  target="_blank"
                  rel="noopener"
                >
                  <img
                    src="/icons/twitter.png"
                    alt="Compartilhar no Twitter"
                  >
                </a>
                <a
                  href="https://www.facebook.com/sharer/sharer.php?u=https://escolascriativas.com/history/2"
                  class="s-facebook"
                  target="_blank"
                  rel="noopener"
                >
                  <img
                    src="/icons/facebook.png"
                    alt="Compartilhar no Facebook"
                  >
                </a>
                <a
                  href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://escolascriativas.com/history/2&amp;title=Projeto Boralá"
                  class="s-linkedin"
                  target="_blank"
                  rel="noopener"
                >
                  <img
                    src="/icons/linkedin.png"
                    alt="Compartilhar no Linkedin"
                  >
                </a>
                <a
                  href="https://web.whatsapp.com/send?text=Projeto Boralá: https://escolascriativas.com/history/2"
                  data-action="share/whatsapp/share"
                  class="s-whatsapp-site"
                  target="_blank"
                  rel="noopener"
                >
                  <img
                    src="/icons/whatsapp.png"
                    alt="Compartilhar no Whatsapp"
                  >
                </a>
                <a
                  href="mailto:?subject=Projeto Boralá:&amp;body=Projeto Boralá - Leia mais no link: https://escolascriativas.com/history/2"
                  title="Compartilhar por Email"
                >
                  <img
                    src="/icons/email.png"
                    alt="Compartilhar por e-mail"
                  >
                </a>
              </div>
            </div>
          </div>
          <div
            id="widget-1"
            data-record-widget-type="history-more-from-creator"
            data-model-widget="1"
            class="widget widget-history-more-from-creator widget-"
          >
            <div class="widget-header">
              <h3>
                <bind-html model-widget-1="title">Mais histórias</bind-html>
              </h3>
            </div>
            <div
              class="widget-content"
            >
              <div class="hmfc-list">
                <div class="hmfc-item">
                  {{#link-to 'history.item' 1 class="hmfc-link"}}
                    <img
                      alt=""
                      src="/img/examples/h1/h1_1.jpeg"
                      class="hmfc-featuredImage img-thumbnail"
                    >
                    <h4 class="hmfc-title">Setembro Amarelo: Atividade de valorização a vida...</h4>
                  {{/link-to}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>