<div class="features_sec27">
  <div class="moduletable">
    <div class="custom">
      <p>
        <img style="display: block; margin-left: auto; margin-right: auto;" src="/img/rodape.png" alt="" />
      </p>
    </div>
  </div>
</div>
<div class="clearfix"></div>

<div class="seperator_icon">
  <div class="sep_icon">
    <i class="fa fa-mobile fa-2x"></i>
    <span class="fa-text">contact</span>
  </div>
</div>

<section id="mod_contacts">
  <div id="mod_contacts">
    <div class="container">
      <div class="row">
        <section id="logos">
          <div class="container">
            <div class="">
              <div class="moduletable "><div class="infosenderecos">
                <div class="container">
                  <div class="row">
                    <div class="contact_data col-md-6 col-sm-6 col-xs-12 text-center">
                      <span class="con_title">E-mail</span>
                      <div class="con_border"></div>
                      <span class="con_desc">projetoescolascriativas@gmail.com</span>
                    </div>
                    <div class="contact_data col-md-6 col-sm-6 col-xs-12 text-center">
                      <span class="con_title">Endereço</span>
                      <div class="con_border"></div>
                      <span class="con_desc">Rua Gago Coutinho, 6 - casa 25 - Largo do Machado<br>Rio de Janeiro - RJ / CEP: 22221-070</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="social_links col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="social-icon">
                  <ul class=" list-inline icon-style-1"><li><a href="https://www.facebook.com/escolascriativas" title="Facebook das escolas criativas"><i class="fa fa-facebook"></i></a></li><li><a href="http://instagram.com/saudeemeulugar" title="Instagram"><i class="fa fa-instagram"></i></a></li><li><a href="/contato"><i class="fa fa-comments-o"></i></a></li></ul>
                </div>
              </div>
              <div class="copyright col-md-12 col-sm-12 col-xs-12">
                <span class="copy col-md-12 col-sm-12 col-xs-12 text-center">
                  © Copyright 2018 Escolas Criativas. Todos os direitos reservados.
                </span>

                <div id="assinatura">
                  <a href="https://linkysystems.com" title="Desenvolvido por Linky" target="_blank"><img style="float: right;" width="12" src="https://linkysystems.com/favicon.ico" alt="Logo da empresa Linky"></a>
                </div>
              </div></div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
