{{partial 'partials/header'}}

<section id="services_home6">
  <div class="container">
    <div class="row">
      <div id="contentarea" class="col-md-12 col-sm-12">
        <div class="item-page">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</section>

{{partial 'partials/footer'}}