<div class="home-main-menu text-center">
  {{#link-to 'learning-object' class="btn btn-default"}}
    Objetos de aprendizagem
  {{/link-to}} {{#link-to 'history' class="btn btn-default"}}
    Práticas pedagógicas
  {{/link-to}}
</div>