<div class="home-main-menu text-center">
  {{#link-to "learning-object" class="btn btn-default btn-home-lo"}}
    <i class="fa fa-book" aria-hidden="true"></i> Objetos de aprendizagem
  {{/link-to}}&nbsp;
  {{#link-to "history" class="btn btn-default btn-home-pp"}}
    <i class="fa fa-graduation-cap" aria-hidden="true"></i> Práticas pedagógicas
  {{/link-to}}
</div>